<div class='container-fluid login bg-dark-grey'>
  <div class="container">
    <div class="row mt50b150">
      <div class="col-md-3"></div>
        <div class="col-md-6"><br><br>
          <center><h2>Forgot your password?</h2></center>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <%= f.label :password, "New password" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Change my password", class: "btn btn-primary" %>
            </div>
          <% end %>
         <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>