<div class='container-fluid login bg-dark-grey'>
  <div class="container">
    <div class="row mt50b150">
      <div class="col-md-3"></div>
        <div class="col-md-6"><br><br>
          <center><h2>Forgot your password?</h2></center>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  					<%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
            <%= f.label :email %><br />
    				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
            </div>
          <% end %>
         <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>