<div class="row">
  <div class="col-md-12">
    <%= form_for @event, remote: true do |form| %>
      <%= hidden_field_tag :main_calendar_id, @event.calendar_id %>
      <%= hidden_field_tag :start_date, params[:start] %>
      <%= form.hidden_field :calendar_id, value: @event.calendar_id %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label "Calendar: #{@event.calendar.try(:title)}" %>
        <%#= form.select :calendar_id, current_user.all_calendars.map{|c| [c.title, c.id]}, {}, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= form.label :start %>
        <%= form.text_field :start, class: "form-control datepicker", value: @event.start.strftime("%d %b %Y") %>
      </div>
      <div class="form-group">
        <%= form.label :end %>
        <%= form.text_field :end, class: "form-control datepicker", value: @event.end.strftime("%d %b %Y") %>
      </div>
      <br>
      <div class="actions">
        <%= form.submit :class => "btn btn-primary" %>
        <%= link_to 'Delete', event, method: :delete, class: 'btn btn-danger',  data: {confirm: 'Are you sure?'}, remote: true unless @event.new_record? %>
        <%= link_to "Create Event", "/events/new?start_date=#{@event.start.to_i*1000}&end_date=#{@event.end.to_i*1000}&main_calendar_id=#{@event.calendar.id}&start=#{params[:start]}", class: "btn btn-primary float-right", remote: true unless @event.new_record? %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      dateFormat: 'dd M yy',
      autoclose: true
    });
  });
</script>