
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end %>
</p>

<p>
  <!-- <strong>User:</strong> -->
  <%#= @event.user_id %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @event.calendar_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
