// $('#calendar_box_<%#= @event.calendar.id %>').html("<%#= j render(partial: 'calendars/calendar', locals: {calendar: @event.calendar}) %>");
// $('.modal').modal('hide');
window.location="<%= calendar_path(@event.calendar, start_date: params[:start_date]) %>"