<div class="text-center"><h5><%= date.strftime("%B") %></h5></div>
<div id="calendar_<%= index %>"></div>

<script type="text/javascript">

  $('#calendar_<%= index %>').fullCalendar({
    defaultDate: new Date(<%= date.year %>, <%= date.month - 1 %>, <%= date.day %>),
   
    defaultView: 'agendaMonth',
    displayEventTime: false,
    header: false,
    selectable: true,
    selectHelper: true,
    eventLimit: true,
    events: "/events.json",

    views: {
      
      agendaMonth: {
        type: 'agendaDay',
        maxTime: "<%= (date.beginning_of_month..date.end_of_month).count %>.00:00:00",
        slotDuration: '24:00:00',
        slotLabelFormat: [
          'WW dd D' // lower level of text
        ],
        buttonText: 'custom agenda'
      },
    },

    
    eventMouseover: function(event, jsEvent, view) {
      $(this).attr("title", event.title);
    }
  });
</script>