<div class="text-center"><h5><%= date.strftime("%B") %></h5></div>
<div id="calendar_<%= index %>"></div>

<script type="text/javascript">

  $('#calendar_<%= index %>').fullCalendar({
    defaultDate: new Date(<%= date.year %>, <%= date.month - 1 %>, <%= date.day %>),
    // header: {
    //   left: 'prev,next today',
    //   center: 'title',
    //   right: 'month,agendaWeek,agendaDay'
    // },
    defaultView: 'agendaMonth',
    displayEventTime: false,
    header: false,
    selectable: true,
    selectHelper: true,
    // editable: true,
    eventLimit: true,
    events: "/events.json?calendar_id=<%= calendar.id %>",

    views: {
      // listThreeDay: {
      //   type: 'list',
      //   duration: {
      //     days: 31
      //   }
      // },
      agendaMonth: {
        type: 'agendaDay',
        maxTime: "<%= (date.beginning_of_month..date.end_of_month).count %>.00:00:00",
        slotDuration: '24:00:00',
        slotLabelFormat: [
          'WW dd D' // lower level of text
        ],
        buttonText: 'custom agenda'
      },
    },

    select: function(start, end) {
      $.getScript("/events/new?start_date=" + start + "&end_date=" + end + "&main_calendar_id=<%= calendar.id %>&start=<%= start_date %>", function() {
        $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
        $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
      });
      $('#calendar').fullCalendar('unselect');
    },
    // eventDrop: function(event, delta, revertFunc) {
    //   event_data = { 
    //     event: {
    //       id: event.id,
    //       start: event.start.format(),
    //       end: event.end.format()
    //     }
    //   };
    //   $.ajax({
    //     url: event.update_url + "&start_date=<%= start_date %>",
    //     data: event_data,
    //     type: 'PATCH'
    //   });
    // },
    eventClick: function(event, jsEvent, view) {
      $.getScript(event.edit_url + "?start=<%= start_date %>", function() {
        $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
        $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
      });
    },
    eventMouseover: function(event, jsEvent, view) {
      $(this).attr("title", event.title);
      // $(this).tooltip();
    }
  });
</script>