<div class="row">
  <div class="col-md-6">
    <%= form_with(model: calendar, local: true) do |form| %>
      <% if calendar.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

          <ul>
          <% calendar.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group row">
        <%= form.label :title, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= form.text_field :title, class: "form-control" %>
        </div>
      </div>

      <!-- <div class="form-group row">
        <%= form.label :no_country, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= check_box_tag :no_country, 1, @calendar.country_code.blank? %>
        </div>
      </div> -->

      <div class="form-group row">
        <%= form.label :country_code, "Country", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= form.country_select :country_code, {prompt: "Select Country (Blank)"}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :color, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= form.text_field :color, class: "form-control" %>
        </div>
      </div>

      <% if @calendar.user == current_user %>
        <div class="form-group row">
          <%= form.label :users, class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%#= form.select :users, User.all.map{|u| [u.email, u.id]}, {selected: @calendar.users.ids}, class: "form-control", multiple: true %>
            <%= form.text_field :users, value: "#{@calendar.users.map(&:email).sort}", class: "form-control" %>
          </div>
        </div>
      <% end %>

      <div class="form-group row">
        <%= form.label :discription, "Description", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= form.text_area :discription, class: "form-control", rows: 3 %>
        </div>
      </div>

      <br>
      <div class="actions">
        <%= form.submit :class => "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .minicolors-theme-default.minicolors{display:block;}
  .minicolors-theme-default .minicolors-input{height:auto; width:100%;}
</style>

<script type="text/javascript">
  $('#calendar_color').minicolors();
  // $( "#calendar_users" ).select2({
  //   theme: "bootstrap4"
  // });
  $('#calendar_users').multiple_emails();

  

  // $(document).on('change', '#no_country', function() {
  //   if(this.checked) {
  //     $("#country_dropdown").hide();
  //     $("#calendar_country_code").val("");
  //   }
  //   else{
  //     $("#country_dropdown").show();
  //   }
  // });


</script>