<div class="row">
  <div class="col-md-12">
  	 <div class="page-body">
      <h1 class="border-bottom mb-5">
        <span>Edit Calendar</span>
        <span class="float-right">
          <%= link_to 'Show', @calendar, class: "btn btn-success" %> 
          <%= link_to 'Back', calendars_path, class: "btn btn-primary" %>
        </span>
      </h1>
			<%= render 'form', calendar: @calendar %>
		</div>
	</div>
</div>