<div class="row">
  <div class="col-md-12">
    <div class="page-body">
      <h1 class="border-bottom mb-5">
        <span>Calendars (<%= @calendars.count %>)</span>
        <span class="float-right">
          <%= link_to 'New Calendar', new_calendar_path, class: "btn btn-primary" %>
        </span>
      </h1>
      <% if @calendars.any? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Country</th>
              <th>Color</th>
              <th>Owner</th>
              <th>Users</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @calendars.each do |calendar| %>
              <tr>
                <td><%= link_to calendar.title, calendar %></td>
                <td><%= calendar.country_name %></td>
                <td><span class="badge text-white" style="background-color:<%= calendar.color %>"><%= calendar.color %></span></td>
                <td><%= calendar.user.email %></td>
                <td>
                  <% calendar.users.map(&:email).sort.each do |email| %>
                    <%= email %><br>
                  <% end %>
                </td>
                <td><%= calendar.discription %></td>
                <td>
                  <%= link_to 'View', calendar %> | 
                  <%= link_to 'Edit', edit_calendar_path(calendar) %> | 
                  <%= link_to 'Delete', calendar, method: :delete, data: {confirm: 'Are you sure?'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>You don't have any calendar created yet. Please create <%= link_to 'here', new_calendar_path %>.</p>
      <% end %>
    </div>
  </div>
</div>