<div class="row">
  <div class="col-md-12">
    <div class="page-body">
		  <h1 class="border-bottom mb-4">
		  	<div class="row">
			    <div class="badge text-white col-md-4" style="background-color:<%= @calendar.color %>"><%= @calendar.title %></div>
			    <div class="col-md-4 text-center">
			    	<div>
			    		<a href="<%= calendar_path(@calendar, start_date: @prev_date) %>" class="btn btn-lg">
			    			<span class="fc-icon fc-icon-left-single-arrow"></span>
			    		</a>
			    		<a href="<%= calendar_path(@calendar, start_date: @next_date) %>" class="btn btn-lg">
			    			<span class="fc-icon fc-icon-right-single-arrow"></span>
			    		</a>
			    		<a href="javascript:void(0);" class="btn">
			    			<h3><%= @start_date.year %></h3>
			    		</a>
			    	</div>
			    </div>
			    <div class="text-right col-md-4">
			      <%= link_to 'Edit', edit_calendar_path(@calendar), class: "btn btn-success" %>
			      <%= link_to 'Back', calendars_path, class: "btn btn-primary" %>
			    </div>
		    </div>
		  </h1>
		  <div class="row">
		  	<div class="col-md-9">
		  		<%= @calendar.discription %>
	  		</div>
		  </div>
		  <div class="row">
		  	<% date = @start_date %>
		  	<% (1..6).each do |i| %>
		  	 	<div class="col-md-2 calendar-box <% if date.strftime('%B%Y') == Date.today.strftime('%B%Y') %>todays_month<% end %>" id="calendar_box_<%= @calendar.id %>" style="margin-bottom:50px;">
			  		<%= render "calendar", calendar: @calendar, index: i, date: date, start_date: @start_date %>
		  		</div>
		  		<% date = date.next_month %>
	  		<% end %>
	  	</div>
		</div>
  </div>
</div>

<div id='remote_container'></div>