<div class="row">
	<% if @calendars.any? %>
	  <% @calendars.each do |calendar| %>
	    <div class="col-md-6 calendar_box" id="calendar_box_<%= calendar.id %>">
	      <%= render "calendar", calendar: calendar %>
	    </div>
	  <% end %>
  <% else %>
    <p>You don't have any calendar created yet. Please create <%= link_to 'here', new_calendar_path %>.</p>
  <% end %>
</div>

<div id='remote_container'></div>