<div class="row">
  <div class="col-md-12">
    <div class="page-body">
		  <h1 class="border-bottom mb-4">
		  	<div class="row">
			    <div class="col-md-12 text-center">
			    	<div>
			    		<a href="<%= view_all_in_one_calendars_path(start_date: @prev_date) %>" class="btn btn-lg">
			    			<span class="fc-icon fc-icon-left-single-arrow"></span>
			    		</a>
			    		<a href="<%= view_all_in_one_calendars_path(start_date: @next_date) %>" class="btn btn-lg">
			    			<span class="fc-icon fc-icon-right-single-arrow"></span>
			    		</a>
			    		<a href="javascript:void(0);" class="btn">
			    			<h3><%= @start_date.year %></h3>
			    		</a>
			    	</div>
			    </div>
		    </div>
		  </h1>
		  <div class="row">
		  	<% date = @start_date %>
		  	<% (1..6).each do |i| %>
		  	 	<div class="col-md-2 calendar-box <% if date.strftime('%B%Y') == Date.today.strftime('%B%Y') %>todays_month<% end %>" style="margin-bottom:50px;">
			  		<%= render "calendar_all_in_one", index: i, date: date, start_date: @start_date %>
		  		</div>
		  		<% date = date.next_month %>
	  		<% end %>
	  	</div>
		</div>
  </div>
</div>
<div id='remote_container'></div>