<p>Dear,</p>
<br>
<p>The event '<%= @event.title %>' has been created in calendar '<%= @calendar.title %>'.</p>
<p>Description: <%= @event.description %></p>
<p>Start Date: <%= @event.start.to_date.strftime("%d %b %Y") %></p>
<p>End Date: <%= @event.end.to_date.strftime("%d %b %Y") %></p>