<div class='container-fluid login bg-dark-grey'>
  <div class="container">
    <div class="row mt50b150">
      <div class="col-md-3"></div>
        <div class="col-md-6"><br><br><br>
          <center><h2>Log In as Admin</h2></center>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         
            <div class="form-group">
             <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in" , class: 'btn btn-primary'%>
            </div>
          <% end %>
         <%#= render "admin_users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
