.page-header{margin:20px 0;}
.page-body{margin:20px 0;}
/*.bg-dark{background-color:#17a2b8 !important;}*/
.nav-link{color:#dee2e6 !important;}
.calendar-box{padding:3px !important;}
/*.calendar_box .page-body{border:1px solid; border-radius:5px; padding:10px;}*/

.calendar-box .fc-scroller{height: auto !important;}
.calendar-box .fc-head{display: none;}
.calendar-box .fc-body .fc-day-grid.fc-unselectable{display: none;}
.calendar-box .fc-body .fc-divider.fc-widget-header{display: none;}

/*.fc-slats .fc-time span.char1, .fc-slats .fc-time span.char2{background:gray; color:#fff; padding:1px; font-size:12px;}*/
/*.fc-slats .fc-time span.char1{border-top-left-radius:4px; border-bottom-left-radius:4px;}*/
/*.fc-slats .fc-time span.char2{border-top-right-radius:4px; border-bottom-right-radius:4px;}*/



/*.fc-slats .fc-time span.char5{display:none;}*/
.calendar-box .fc-event{color:#fff !important;}
/*.calendar-box .fc-widget-content{text-align:right;}*/


.calendar-box td{text-align:left !important;}

.calendar-box td.td_week_number{
    text-align:right !important;
}

.calendar-box td.td_week_number_blank{
	border-width: 0;
}

.calendar-box.todays_month .todays_date{background-color:green !important; color:#fff;}