<div class='container-fluid login bg-dark-grey'>
  <div class="container">
    <div class="row mt50b150">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= form_for([:admin, @user]) do |form| %>
            <div class="form-group"">
              <%= form.label :email %>
              <%= form.text_field :email, class: "form-control" %>
            </div>

            <div class="field">
              <%= form.label :password %>
              <%= form.password_field :password, class: "form-control" %>
            </div>

            <div class="field">
              <%= form.label :password_confirmation %>
              <%= form.password_field :password_confirmation, class: "form-control" %>
            </div>
            <br>
            <div class="actions">
              <%= form.submit :class => "btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
