<br><br><br><br><br><br>
<center><h1>Editing User</h1></center>

<%= render 'form', admin_user: @admin_user %>

<div class="col-md-3" style="float: right">
<%= link_to 'Show', admin_user_path, class: "btn btn-success"%>
<%= link_to 'Back', admin_users_path, class: "btn btn-primary"  %>
</div><br>