<br><br><br>
<div class="col-md-3">
<%= link_to 'Add New User', new_admin_user_path,class: "btn btn-primary" %></div>
<div class="container">
  <center><h1>Users</h1></center>
  <table class="table table-hover">
    <thead>
       <tr>
      <th>Email</th>
      <th>Verified?</th>
      <!-- <th>Password confirmation</th> -->
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.confirmed? ? "Yes" : "No" %></td>
        <!-- <td><%#= user.password_confirmation %>********</td> -->
        <td><%= link_to 'Show', [:admin, user] ,class: "btn btn-primary"%></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user),class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div><br><br><br><br>

