<br><br><br><br><br><br>
<div class="col-md-3" style="float: right">
<%= link_to 'Edit', edit_admin_user_path(@user),class: "btn btn-success " %>
<%= link_to 'Back', admin_users_path, class: "btn btn-primary"  %>
</div><br>
<div class="container">
	<table class="table">
	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<p>
	  <strong>Password:</strong>
	  <%#= @user.password %>
	  ********
	</p>

	<p>
	  <strong>Password confirmation:</strong>
	  <%#= @user.password_confirmation %>
	  ********
	</p>
	</table>
</div>

