<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
							<p class="navbar-text pull-right">
							  <% if admin_user_signed_in? %>
							    Logged in as <strong>Admin</strong>&nbsp;&nbsp;&nbsp;
				            <a>
							    <%#= link_to 'Edit profile', edit_admin_user_registration_path, :class => 'navbar-link' %></a> 
				            <a >
							    <%= link_to "Logout", destroy_admin_user_session_path, method: :delete, :class => 'navbar-link'  %></a>
							  <% else %>
							    <%#= link_to "Sign up", new_admin_user_registration_path, :class => 'navbar-link'  %>
							    <%= link_to "Login", new_admin_user_session_path, :class => 'navbar-link'  %>
							  <% end %>
							</p>
        		</ul>
          </div>
        </div>
      </div>
  </header>
  <% if admin_user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="<%= admin_dashboard_path %>" style="text-transform: uppercase;"> User Cms</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link pull-right" href="<%= admin_users_path %>" style="margin-right: 424px;">Users
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <%end%>
</div>
<div class="footer">
  <p>@copyright2019</p>
</div>

