<!DOCTYPE html>
<html>
  <head>
    <title>AllYear.Ninja Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/5666044c33.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'download.png'%>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5743268646467547",
        enable_page_level_ads: true
      });
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
      <a class="navbar-brand" href="/">Home</a>

      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "All Calendars", view_all_in_one_calendars_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Manage Calendars", calendars_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>

      <ul class="navbar-nav" style="position: absolute;right: 30px;">
        <% if user_signed_in? %>
          <li class="nav-item"><a class="nav-link">Logged in as <strong><%= current_user.email %></strong>.</a></li>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
          </li>
        <%end%>
      </ul>
    </nav>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= key %>!</strong> <%= value %>
      </div>
    <% end %>

    <% if params[:controller] == "welcome" && params[:action] == "index" %>
      <%= yield %>
    <% else %>
      <div class="container container-fluid">
        <%= yield %>
      </div>
    <% end %>

  </body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fc-slats .fc-time span").lettering();
    // $('span.char5:contains("u")').closest('tr').css('background-color', 'grey');
    // $('span.char4:contains("T")').closest('tr').css('background-color', 'white');
    $('span.char4:contains("S")').closest('tr').css('background-color', 'lightgray');

    var count = 0;
    var temp_week_number = ""

    $("tr[data-time]").each(function( index ) {
      week_number_1 = $(this).find(".char1").text();
      week_number_2 = $(this).find(".char2").text();
      if (week_number_1 == "0"){
        week_number_1 = "";
      }
      week_number = week_number_1 + week_number_2;

      if (temp_week_number != week_number){
        // $(this).append("<td class='td_week_number'>" + week_number + "</td>")
        $(this).find(".fc-widget-content:last").html(week_number);
        $(this).find(".fc-widget-content:last").addClass("td_week_number");
      }
      else{
        // $(this).append("<td class='td_week_number td_week_number_blank'>" + " " + "</td>")
      }
      temp_week_number = week_number
      $(this).find(".char1").remove()
      $(this).find(".char2").remove()
      $(this).find(".char3").remove()
      $(this).find(".char5").remove()
      

      day = $(this).find(".char7").text() + $(this).find(".char8").text();
      todays_date = <%= Date.today.day %>;
      if (day == todays_date){
        $(this).addClass("todays_date");
      }



    });


  });
</script>